
<!DOCTYPE HTML>
<html>
<head>
<title>Tokenology : login</title>
<link href="./assets/tokenology-favicon.png" rel="icon">
<!-- Custom Theme files -->
<!-- for-mobile-apps -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="" />
<!--Google Fonts-->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>
<body>
<div class="wthree-dot">
	<a href="../index.html"><h1><img src="./assets/img/logo.png"></h1></a>
	<div class="profile">
		<div class="wrap">
			<div class="content-main">
				<div class="w3ls-subscribe w3ls-subscribe1">
					<h4>Login</h4>
					<p>Hi, Welcome back. Our tokenology team missed you.</p>
			    <form [formGroup]="loginform">
                        
                        <div class="form-group" >
                            <!-- <label for="username">Email</label> -->
                            <input type="email" class="form-control" placeholder="Email" formControlName="username" [(ngModel)]="username"  required />

                            <div *ngIf="!loginform.controls['username'].valid&&loginform.controls['username'].dirty" class="help-block">Email is required</div>
                        </div>
                        <div class="form-group" >                           
                            <input type="password" class="form-control" placeholder="Password" formControlName="password" [(ngModel)]="password"  required />

                            
                            <div *ngIf="!loginform.controls['password'].valid&&loginform.controls['password'].dirty" class="help-block">Password is required</div>
                        </div>

                        <a href="forgot.html" align="right" style="line-height: 0px;color: #fff;float: right;">Forgot Password?</a>

                        <input type="submit" value="Login" (click)="login(loginform.value)" [disabled]="!loginform.valid"s>
                                                <div class="row" style="margin-top: 30px;">
                                                   <p style="line-height: 0px;color: #fff;">OR</p> <br>
                                                  <p style="margin : 0px;line-height:0px;">
                                                    <a [routerLink]="['/signup']" style="line-height: 0px;color: #fff;">SignUp?</a></p> 
                                                </div>
                                                
                        <br><br>
                    </form>
				</div>
			</div>
			
			<div class="wthree_footer_copy">
				<p>© 2018 Tokenology. All rights reserved </p>
			</div>
		</div>
	</div>
</div>
<p-growl [value]="msgs" life="3000"></p-growl>
</body>
</html>
